{% if todos %}

<div class="card" style="width: 75%;">
    <ul class="list-group list-group-flush" >
        {% for todo in todos %}
        <li class="list-group-item d-flex justify-content-between align-items-center" >
            <div class="{% if todo.completed %} text-success text-decoration-line-through {% endif %}">
                {{ todo.title }}
            </div>
            <div>
                <span class="action badge rounded-pill text-bg-warning" hx-get="{% url 'mark_todo' todo.pk %}"
                  hx-target="#todoList" style="cursor: pointer;">✔</span>
                <span class="action badge rounded-pill text-bg-danger" hx-delete="{% url 'delete_todo' todo.pk %}"
                  hx-target="#todoList" hx-confirm="Are you sure you wish to delete?" style="cursor: pointer;">X</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% else %}

<h5 style="margin-top: 10%; display: flex; justify-content: center; align-items: center;">
    <i>Currently you don't have todos</i>
</h5>

{% endif %}